@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Inter-Regular.ttf') format('ttf');
  }

body{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 243, 216);
    background-color: #344E41;
    margin: auto;
    padding: 100px 0px;
    max-width: 650px;
    text-transform: lowercase;
}

@media screen and (max-width: 768px) { 
    body { 
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 812px) and (orientation: portrait) {
    /* For devices with notch (iPhone X and newer) */
    body {
      padding-top: env(safe-area-inset-top);
      background-color: #3f5f4f;; /* Replace "your-color" with your desired background color */
    }
  }
  

spotify, .spotify {
    padding: 0px 20px;
}

info, .info {
    padding: 0px 20px;
}

header, .header {
    padding: 0px 20px;
}

images, .images {
    text-align: center;
}

.csc462, .seng440, .ece470, .battlesnake, .taxcalc, .vex, .seng460, .irt {
    border-radius: 10px;
    transition: background-color .3s linear;
    padding: 10px 20px;
}

.csc462:hover, .seng440:hover, .ece470:hover, .battlesnake:hover, .taxcalc:hover, .vex:hover, .seng460:hover, .irt:hover {
    background-color: #3f5f4f;
}

h3, .h3 {
    margin-bottom: 10px;
}

p, .p {
    margin-top: 5px;
}

footer, .footer {
    padding-top: 50px;
}

link, .link {
    color: #73aa72;
}

header, .header {
    display: flex;
    align-items: center;
}

.artwork {
    width: 150px;
    height: 150px;
    padding-right: 15px;
}

.songtitle {
    font-style: italic;
}

.songartist {
    font-style: italic;
}

.current {
    display: flex;
    align-items: top;
}